<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="title">Welcome to HackerNews!</h1>
    <a routerLink="stories/best" routerLinkActive="active" mat-button>Best</a>
    <a routerLink="stories/top" routerLinkActive="active" mat-button>Top</a>
    <a routerLink="stories/new" routerLinkActive="active" mat-button>New</a>
    <a routerLink="stories/asks" routerLinkActive="active" mat-button>Ask</a>
    <a routerLink="stories/show" routerLinkActive="active" mat-button>Show</a>
    <a routerLink="stories/job" routerLinkActive="active" mat-button>Jobs</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
