mat-card {
    margin: 0.5rem auto;
    max-width: 768px;
    cursor: pointer;
}
.author {
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    background-color: #e0e0e0;
    color:rgba(0,0,0,.87);
    font-weight: 500;
}

@media only screen and (min-width: 1000px) {
    mat-card {
        max-width: 60%;
    }
}
